services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.4.3
    container_name: elasticsearch
    restart: always
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
      # - ingest.geoip.downloader.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - /tmp/dal/elasticsearch:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:8.4.3
    restart: always
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200    # address of elasticsearch docker container which kibana will connect
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch

  apm:
    container_name: apm
    image: docker.elastic.co/apm/apm-server:8.4.3
    command: --strict.perms=false
    restart: always
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200    # address of elasticsearch docker container which kibana will connect
    ports:
      - 8200:8200
    depends_on:
      - elasticsearch

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - /tmp/dal/redis:/data

  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - MONGO_INITDB_DATABASE=api
    ports:
      - "27017:27017"
    volumes:
      - /tmp/dal/mongodb:/data/db

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=test
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_SSLMODE=disable
      - PGDATA=/var/lib/postgresql/data/some_name/
    ports:
      - "5432:5432"
    volumes:
      - /tmp/dal/postgres:/var/lib/postgresql/data

  sftp:
    image: atmoz/sftp
    container_name: sftp
    restart: always
    ports:
      - "2222:22"
    environment:
      - SFTP_USERS=foo:pass
      - SFTP_PASSWORD_AUTH=false
    command: foo:pass:::upload
